{% extends "base.html" %}

{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Country</th>
                <th scope="col">IP</th>
                <th scope="col">DATE</th>
            </tr>
            </thead>
            <tbody>
            {% for x in obj %}
                <tr>
                    <th scope="row">{{ x.id }}</th>
                    <td>{{ x.country}}</td>
                    <td>{{ x.ip }}</td>
                    <td>{{ x.date }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ obj.number }} of {{ obj.paginator.num_pages }}.
        </span>

        {% if obj.has_next %}
            <a href="?page={{ obj.next_page_number }}">next</a>
            <a href="?page={{ obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}