{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
    <h1 class="text-center">Hey ! Register your account here!</h1>
    <div class="container">
        <form class="register-form form-control-sm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="register-submit btn btn-primary">Register</button>
            <p>Have an account ? Login <a href="/users/login">Here</a></p>
        </form>
    </div>
{% endblock %}